<div class="row">
    <div class="col-11">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="heading_1_field_1_name">Field Name</label>
                    <input type="text" class="form-control" id="heading_1_fieldName_1" placeholder="Storage.">
                </div>
                <div class="form-group">
                    <label for="heading_1_field_1_type">Type</label>
                    <select class="form-control" id="heading_1_field_1_type">
                        <option value="select">Select</option>
                        <option value="text">Text</option>
                        <option value="number">Number</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="d-block bg-light">
            <button title="Add New Category" class="btn btn-primary float-right rounded-circle">
            <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <br/>
        <br/>
        <div class="d-block bg-light">
            <button title="Add New Category" class="btn btn-danger float-right rounded-circle">
            <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>