<div class="row">
    <div class="col-11">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="heading_1">Heading</label>
                    <input type="text" class="form-control" id="heading_1" placeholder="Like Performance.">
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="d-block bg-light">
            <button title="Add New Category" class="btn btn-primary float-right rounded-circle">
            <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <br/>
        <br/>
        <div class="d-block bg-light">
            <button title="Add New Category" class="btn btn-danger float-right rounded-circle">
            <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>