 

        .column {
            width: 25%;
            float: left;
            padding: 15px;
        }

        h1 {
            padding-left: 15px;
        }

        img {
            width: 100%;
        }

        .card {}

        .product-filter{
            /* border:0.5px solid grey;
            border-radius: 6px;
            padding-top :7px;  */
            margin-left :2px;
            margin-top:15px;
            
        }

        .product-filter {
            display: none;
        }

        /*.card,
            .card ,
            .title {
              width: 100%;
              vertical-align: top;
            }*/

        /* .title {
            padding: 10px;
            font-size: 16px;
            color: #bbb;
            border-style: solid;
            border-width: 0 2px 2px;
            border-color: #bbb;
            background-color: #fff;
            border-radius: 0 0 4px 4px;
        } */

        footer {
            clear: left;
        }

        aside {}

        .product-details {
            font-size: 14px;
        }

        .filter-radio {
            align-content: left;
        }

        .form-check {
            text-align: left;
        }

        .form-check-label {
            text-align: left;
            font-size: 13px;
        }

        #filter {
            width: calc(100% - 5px);


        }

        #sort {
            width: calc(100% - 5px);

        }

         #filterPressed {
            width: 100%;

        }

        #content {
            margin-top :10px;
        }

        #section-div {
            

        }

        #productSection {
          
            
        }

        

        .container {
            margin : 7px -25px 0px -25px;

        }

        #productImage {
            margin-top : 25px;
        }

        @media only screen and (max-width: 575px) {
            .product-filter {
                display: none;
            }
            #filterPressed {
                display: none;
            }
        }

        @media only screen and (min-width: 575px) {
            .product-filter {
                display: block;
            }
        }