.bgcolor_card{
   background-color:rgba(0,0,0,0.3);
}
.section_space{
	padding-top:90px!important;
	padding-bottom:90px!important;
}
		 
.fa {
  padding: 12px;
  font-size: 25px;
  width: 50px;
  height:47px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus {
  background: #dd4b39;
  color: white;
}
      