   * {
            padding: 0;
            margin: 0;
            text-align: center;
            box-sizing: border-box;
            font-family: Verdana, Tahoma, sans-serif;
        }

        body {
            background-color: white;
        }

        .table-summary {
            border: 0px;
        }

        #test {
            border: 0px;
        }

        .width-33 {
            width : 33.33%;
            word-wrap: break-word;          
        }


        @media only screen and (max-width: 575px) {
            .product-filter {
                display: none;
            }
            #filterPressed {
                display: none;
            }
        }

        @media only screen and (min-width: 575px) {
            .product-filter {
                display: block;
            }
        }