.loader {
	position:absolute;
    top:calc(50% - 60px);
    left:calc(50% - 60px);
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loading-overlay {
	background-color:rgba(0,0,0, 0.7);
    position : absolute;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100vw;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}