body {
    height: 100vh;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    line-height: 45px; /* Vertically center the text there */
    background-color: #f5f5f5;
    display: none;
}